<%- include('partials/head'); %> 
<div class="account-page">
    <div class="row" id="topacc"></div>
    <div class="row" id="middacc">
        <div class="col-3"></div>
        <div class="col-6" id="account-container">
            <div class="row" id="exit-row">
                <div class="col-1"></div>
                <div class="col-10"></div>
                <div class="col-1" id="iconcontainer">
                    <i class="fas fa-times" id="exit-icon"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4" id="profile-title"><h1><b>My Profile</b></h1></div>
                <div class="col-4"></div>
            </div>
            <div class="row" id="gidgets">
                <div class="col-1"></div>
                <div class="col-5" id="status-cont">
                    <div class="profile-int">
                        <div class="status"><h6>Set Status</h6></div>
                        <div class="privacy"><h6>Privacy and safety</h6></div>
                    </div>
                    <div class="prof-icons">
                        <div class="update-status">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        <i class="fas fa-cog"></i>
                    </div>
                </div>
                <div class="col-5" id="profilepic-cont">
                    <div class="profile-picture">
                        <img id="output" class="img-circle">
                        <input type="file" name="avatar" id="selectpic" onchange="loadFile(event)" onclick="loadFile()">
                        <label for="selectpic" id="avatarlabel"><h5>Update Picture</h5></label>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10" id="underline"></div>
                <div class="col-1"></div>
            </div>
            <div class="row" id="updates">
                <div class="col-1"></div>
                <div class="col-10">
                    <form class="form" action="/account" method="post" autocomplete="off" id="emailinput">
                        <label for="displayname" id="displayname">Display Name</label>
                        <input type="text" name="displayName" class="form-control" id="dispname" value="">

                        <label for="email" id="emaillabel">Email</label>
                        <input type="email" name="email" class="form-control" id="email" value="">
        
                        <label for="password" id="pwdlabel">New Password</label>
                        <input type="password" name="password" class="form-control" id="pwd">
                        
                        <label for="passconfirm" id="pwdlabel">Confirm Password</label>
                        <input type="password" name="passwordConfirm" class="form-control">
                        <button class="btn" type="submit" role="button" id="update-btn" href="/accountfeedback"><h3>Save Changes</h3></button>
                        <% if (locals.errors && locals.errors.profile) { %>
                            <% locals.errors.profile.forEach(function(error) { %>
                                <p class="alert alert-primary" role="alert"><%= error %></p>
                            <% }) %>
                        <% } %>
                    </form>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row" id="botacc"></div>
</div>
<%- include('partials/footer'); %>