<%- include('partials/head'); %> 
<div class="home">
    <div class="row" id="toprow">
        <div class="col-3" id="search">
            <div class="row">
                <div class="col-10"><h3>Search</h3></div>
                <div class="col-2"><h4>Icon</h4></div>
            </div>
        </div>
        <div class="col-9" id="namedisplay">
            <div class="row">
                <div class="col-4">
                    <div class="row" id="top-dn"></div>
                    <div class="row" id="mid-dn">
                        <div class="col"></div>
                        <div class="col-10">
                            <h1>Friends Profile</h1>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row" id="bottom-dn"></div>
                </div>
                <div class="col-2" id="notifications">
                    <div class="row" id="top-nf"></div>
                    <div class="row" id="mid-nf">
                        <div class="col"></div>
                        <div class="col-10">
                            <i class="fas fa-bell"></i>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row"></div>
                </div>
                <div class="col-4" id="main-icons">
                    <div class="row" id="top-cog"></div>
                    <div class="row">
                        <div class="col-7"></div>
                        <div class="col-5" id="mid-cog">
                            <i class="fas fa-cog"></i>
                            <i class="fas fa-user-plus"></i>
                        </div>
                    </div>
                    <div class="row"></div>
                </div>
                <div class="col-2">
                    <div class="row" id="top-lgt"></div>
                    <div class="row" id="mid-lgt">
                        <div class="col-2"></div>
                        <div class="col-8" id="logout">
                            <h3>Logout</h3>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <div class="row"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="middlerow">
        <div class="col-3" id="list"></div>
        <div class="col-9" id="chat"></div>
    </div>
    <div class="row" id="bottomrow">
        <div class="col-3" id="info">
            <div class="row" id="profile-status">
                <div class="col-6">
                    <h1>Profile Picture</h1>
                </div>
                <div class="col-6">
                    <h5>Profile Name</h5>
                    <a class="view-profile" href="/account">View Profile</a>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-8">
                    <h1>Text Input</h1>
                </div>
                <div class="col-4">
                    <h4>Icons</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer'); %> 