<%- include('partials/head'); %> 
<div class="home">
    <div class="row" id="toprow">
        <div class="col-3" id="search"></div>
        <div class="col-9" id="namedisplay"></div>
    </div>
    <div class="row" id="middlerow">
        <div class="col-3" id="list"></div>
        <div class="col-9" id="chat"></div>
    </div>
    <div class="row" id="bottomrow">
        <div class="col-3" id="info">
            <a class="view-profile" href="/account">View Profile</a>
        </div>
        <div class="col-9"></div>
    </div>
</div>
<%- include('partials/footer'); %> 