<%- include('partials/head'); %>
<div class="login-container">
  <form class="d-flex justify-content-center align-items-center h-100" action="/register" method="post">
    <div id="loginheader" class="d-flex flex-column">
      <% if (locals.errors && locals.errors.register) { %>
        <% locals.errors.register.forEach(function(error) { %>
          <p class="alert alert-danger h5" role="alert"><%= error %></p>
        <% }) %>
      <% } %>

      <label for="email" id="emailabel" class="h4">Email</label>
      <input type="email" name="email" class="form-control" id="email" required>
      <label for="password" id="pwdlabel" class="h4">Password</label>
      <input type="password" name="password" class="form-control" id="pwd" required>
      <label for="passconfirm" id="pwdlabel" class="h4">Confirm Password</label>
      <input type="password" name="passwordConfirm" class="form-control" required>
      <button class="btn" type="submit" role="button" id="login-btn"><h3>Register</h3></button>
      <div class="registercontainer">
        <a class="register" href="/"><h5>Already have an account? Sign in here</h5></a>
      </div>
    </div>
  </form>
</div>
<%- include('partials/footer'); %>
