<%- include('partials/head'); %> 
<div class="welcome-container">
    <div class="welcome">
        <div class="welcome-title"><h1>Welcome</h1></div>
        <div class="welcome-message"><p>Thank you for registering, click on the button below to continue to your account</p></div>
        <div class="contbutton-container">
            <button class="continue-button" href="/home">Get Started</button>
        </div>
    </div>
</div>
<%- include('partials/footer'); %> 