body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  background-color: #fff;
}

a {
  color: #00B7FF;
}

a i {
  margin-right: 0.4rem;
}

.error404{
  text-align: center;
}

.error404 h1{
  width: 100%;
  font-size: 30rem;
  font-weight: bold;
  text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.66);
  color: aquamarine;
}

.error-message {
  width: 100%;
  height: 500px;
}

.errorcontainer {
  width: 100%;
  height: 500px;
}

.page-container {
  width: 100vw;
  height: 100vh;
  background-color: grey;
}

/* Login Page */

.login-container {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0) url("/img/background.jpg") repeat fixed center center / cover;
}

#loginheader {
  border-radius: 1rem;
  padding: 40px;
  background: #fff;
  width: 500px;
}

.form, .password-form {
  font-size: 16px;
  text-align: start;
  margin-top: 30px;
}

a:link {
  text-decoration: none;
  color: black;
}

#login-btn, #register-btn {
  margin-top: 30px;
  width: 100%;
  height: 40px;
  background-color: #EAE1DF;
  color: black;
  padding: 0;
}

.register h4 {
  margin-top: 20px;
  color: #3E71F0;
}

.registercontainer {
  text-align: center;
  margin-top: 30px;
}

#login-btn:hover, #register-btn:hover {
  background-color:#d4cdcc;
}

.register h4:hover {
  cursor: pointer;
}

/* Home Page */

#home-group {
  margin-top: 6px;
}

#messages {
  background-color: rgb(218, 218, 218);
}

.fa-cogs {
  margin-right: 20px;
}

/* Account Page */

.account-page, .channel-page {
  background: rgba(0, 0, 0, 0) url("/img/night farm.jpg") repeat fixed center center / cover;
}

#close-button, #add-channel-btn {
  padding: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
}

#fname, #lname, #pwdlabel, #emaillabel {
  margin-top: 30px;
}

#topacc, #botacc {
  height: 100px;
}

#middacc {
  height: 900px;
}

#account-container {
  background-color: #EAEAEA;
  text-align: center;
}

#exit-row, #above-channels {
  height: 30px;
}

#selectpic {
  display: none;
}

#avatarlabel {
  padding: 0;
  margin-top: 15px;
  border-radius: 4px;
  width: 30%;
  background-color: rgb(212, 212, 212);
}

#avatarlabel:hover, .fa-times:hover, #image-choose:hover {
  cursor: pointer;
}

#update-btn, #started-btn, #create-channel {
  margin-top: 20px;
  width: 100%;
  background-color: rgb(212, 212, 212);
  color: black;
}

#update-btn:hover, #started-btn:hover, #create-channel:hover, #avatarlabel:hover {
  background-color: rgb(177, 177, 177);
}

#output {
  border-style: solid;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.fa-times {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 2.0em;
}

#linerow {
  height: 30px;
}

#underline {
  border-bottom-style: solid;
  border-color: grey;
  border-width: 1px;
}

/* Channel Page */

.channel-title, .user-title, #owned-channels, #subscribed-channels {
  width: 100%;
  text-align: center;
}

.group-avatar {
  text-align: center;
}

#channel-container {
  background-color: #EAEAEA;
}

.under-avatar-line, .under-create-line, .under-name-line {
  width: 100%;
  border-bottom-style: solid;
  border-color: grey;
  border-width: 1px;
}

.under-create-line, .under-name-line, #image-choose {
  margin-top: 30px;
}

.margin {
  height: 20px;
}

.your-channels-container {
  margin-top: 50px;
}

.user-channels img, #subscribed-channels img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.left-sidebar {
  background-color: #EAEAEA;
}

.header {
  background-color: #EAEAEA;
}
