body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  background-color: #EAE1DF;
}

a {
  color: #00B7FF;
}

a i {
  margin-right: 0.4rem;
}

.error404{
  text-align: center;
}

.error404 h1{
  width: 100%;
  font-size: 30rem;
  font-weight: bold;
  text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.66);
  color: aquamarine;
}

.error-message {
  background: rgba(0, 0, 0);
  width: 100%;
  height: 500px;
}

.errorcontainer {
  width: 100%;
  height: 500px;
  background: rgba(0, 0, 0, 0.6);
}

.page-container {
  width: 100vw;
  height: 100vh;
  background-color: grey;
}

/* Login Page */

.login-container {
  height: 100vh;
  width: 100vw;
}

#topmargin, #bottommargin {
  margin: 100px;
}

#login {
  text-align: center;
}

#loginheader {
  height: 500px;
  background-image: linear-gradient(#9781A8, rgb(191, 189, 189));
}

.title {
  margin-top: 15px;
}

#logintitle {
  display: inline-block;
}

.form {
  font-size: 16px;
  text-align: start;
  margin-top: 30px;
}

a:link {
  text-decoration: none;
  color: black;
}

#login-btn, #register-btn {
  margin-top: 30px;
  width: 100%;
  height: 40px;
  background-color: #EAE1DF;
  color: black;
  padding: 0;
}

.loginbutton {
  padding: 12px 0;
}

.register h4 {
  margin-top: 20px;
  color: #3E71F0;
}

#registerheader {
  height: 600px;
  background-image: linear-gradient(#9781A8, rgb(191, 189, 189));
}

.registercontainer {
  margin-top: 30px;
}

.register h4:hover {
  cursor: pointer;
}


/* Welcome Page */

.welcome-container {
  width: 100vw;
  height: 100vh;
  background-color: #9781A8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome {
  width: 800px;
  height: 800px;
  background-color: #3E71F0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contbutton-container {
  width: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
}

.continue-button {
  color: black;
  height: 60px;
  width: 50%;
  border: none;
}

@media all and (max-width: 800px) {
  .welcome-container {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}


/* Home Page */

#toprow {
  height: 100px;
}

#search {
  border-style: solid;
  border-color: whitesmoke;
}

#search, #list, #info {
  background-color: grey;
}

#chat {
  background-color: darkgrey;
}

#middlerow {
  height: 800px;
}

#bottomrow {
  height: 100px;
}


/* Account Page */

#fname, #lname, #pwdlabel {
  margin-top: 30px;
}

#icon-container {
  display: flex;
  justify-content: end;
}

#topacc, #botacc {
  height: 100px;
}

#middacc {
  height: 900px;
}

#account-container {
  background-color: rgb(218, 218, 218);
  text-align: center;
}

#exit-row {
  height: 30px;
}

#gidgets {
  height: 200px;
}

.status {
  text-align: start;
}

#status-cont, #profilepic-cont {
  display: flex;
  align-items: center;
}

#updates {
  height: 500px;
}

#update-btn {
  margin-top: 20px;
  width: 100%;
  background-color: black;
  color: whitesmoke;
}